@media (max-width: 1440px) {

}

@media (max-width: 768px) {

    .body {
        height: 1700px;
    }
   .header-list {
       position: absolute;
       padding-top: 20px;
   }

   .greeting {
       line-height: 5px;
   }
   .greeting h1 {
       font-size: 35px;
   }
   .greeting h2 {
    font-size: 20px;
    }

    h3 {
        display: grid;
        justify-content: left;
        font-size: 5px;
        width: 50%;
        margin-left: 10px;
        font-size: 30px;

    }
    .btn-yes {
        position: relative;
        right: 330px;
        width: 150px;
        height: 34px;
    }

    .cat h3 {
        position: relative;
        left: 320px;
    }

    img {
        width: 15%;
    }

    .img h3 {
        font-size: 20px;
        text-align: center;
        padding-left: 170px;
    }

    form h4 {
        font-size: 15px;
        margin-left: 130px;
    }

    input { 
        position: relative;
        right: 340px;
    }
    textarea {
        position: relative;
        right: 340px;
        
    }

    .btn-send {
        position: relative;
        right: 340px;
    }

    .footer-list {
        position: absolute;
        padding-left: 520px;
        line-height: 25px;
        width: 600px;

    }

}

@media (max-width: 500px) {

}