* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 1440px;
    height: 2251px;
    padding: 0px;
}

.container {
    margin:0px auto;
    
}

li {
    list-style: none;
}

.header {
    background-color: #8D76CE;
    width: 1440px;
    background-size: cover;
    height: 101px;
    color: #fff;
    margin: 0px auto;
    position: absolute;
}

.header-left {
    float:left;
    padding-left: 69px;
    padding-top: 25px;
    padding-bottom: 51px;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    
}

.header-list li {
    float: right;
    font-size: 24px;
    padding-top: 25px;
    padding-left: 80px;
    padding-right: 70px;
    padding-bottom: 42px;
    font-weight: bold;
    font-style: normal;
}

.top-home, .top-about, .top-contact {
    text-decoration: none;
    color: #FFFFFF;
}

.top-contact:hover {
    background-color: #FFFFFF;
}

.top-home:hover {
    background-color: #FFFFFF;
} 

.top-about:hover {
    background-color: #FFFFFF;
} 


.greeting {
    border-width: 100%;
    line-height: 35px;
    margin-left: auto;
    padding-left: 69px;
    padding-top: 171px;
;
    
}

h1 {
    font-size: 72px;
    
}
h2 {
    font-size: 48px;
    color: #7694ce;
}

h3 {
    font-size: 36px;
    text-align: center;
    padding-top: 213px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;   
}

.cat h3 {
    padding-top: 144px;
}
.btn-yes {
    background-color: #8D76CE;
    border-radius: 15px;
    display: inline-block;
    width: 239px;
    height: 64px;
    margin-left: 600px;
    font-size: 36px;
    text-align: center;
}

.yes {
    color: #e5e5e5;
    margin: 0 auto;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-decoration: none;

}

a:hover {
    color:#8D76CE;
}

.btn-yes:hover {
    background-color: #FFFFFF;
}

img {
    padding-left: 69px;
}

.img h3 {
    padding-top: 120px;
}

input {
    background-color: #fff;
    border: 1px solid #8D76CE;
    box-sizing: border-box;
    border-radius: 20px;
    width: 574px;
    height: 47px;
    margin-left: 435px;
}

h4 {
    font-size: 24px;
    margin-left: 440px;
}

textarea {
    width: 574px;
    height: 208px;
    margin-left: 435px;
    background: #FFFFFF;
    border: 1px solid #8D76CE;
    box-sizing: border-box;
    border-radius: 20px;
}

.btn-send {
    background-color: #8D76CE;
    border-radius: 15px;
    display: inline-block;
    width: 579px;
    height: 64px;
    margin-left: 430px;
    font-size: 36px;
    text-align: center;
    margin-top: 38px;
    margin-bottom: 30px;
}

.send {
    color: #e5e5e5;
    margin: 0 auto;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.btn-send:hover {
    background-color: #FFFFFF;
}

.footer {
    background-color: #8d76ce;
    color: #fff;
    height: 170px;
    width: 1440px;
    background-size: cover;
    padding-right: 100px;
    
    }

.footer-logo {
    font-size :36px;
    float :left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding-top: 40px;
    padding-left: 40px;
    
  }

.footer-list {
    float: right;

  }

.footer-list li{
    padding-bottom: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding-right: 100px;
    
  }

.bottom-home, .bottom-about, .bottom-contact {
    text-decoration: none;
    color: #FFFFFF;
}

.bottom-contact:hover {
    background-color: #FFFFFF;
}

.bottom-home:hover {
    background-color: #FFFFFF;
} 

.bottom-about:hover {
    background-color: #FFFFFF;
} 

 